.homepage {
    background-color: #CE2829;
    position: relative;
    padding: 10rem 15rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.homepage h1 {
    color: white;
    padding: 2rem 0; 
}

.homepage h2 {
    color: white;
}

.homepage button {
    background-color: #FDC913;
    border-radius: 2rem;
    padding: 1rem 2rem;
    width: 200px; /* Örneğin, genişlik ekleyin */
    display: block;
    margin: 0 auto; /* Butonu yatayda ortalar */
}

.homepage img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}